---
export interface TocItem {
  id: string;
  text: string;
  level: number;
}

interface Props {
  items: TocItem[];
}

const { items } = Astro.props;
---

<nav class="toc">
  <h2>Table of Contents</h2>
  <ul>
    {items.map(item => (
      <li style={`margin-left: ${item.level * 20}px;`}>
        <a href={`#${item.id}`}>{item.text}</a>
      </li>
    ))}
  </ul>
</nav>
